body {
    padding: 0%;
    margin: 0%;
   
}


/* --------------------Navbar_section----------------------------------- */



.background {
    background: url('../assets/background.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    /* margin: 0%;
    padding: 0%; */

}

.navbar {
    position: fixed;
    width: 100%;
    background-color: white;
}

.container {
    margin: auto;
    width: 85%;
}

.div-imgbrandname {
    float: left;
    width: 25%;
    padding: 0.5% 0%;
}

.imgbrandname {
    float: left;
    width: 50%;
}

.ul-navbar {
    width: 70%;
    float: right;
}

.ul-navbar ul {
    float: right;
    width: 60%;
}

.ul-navbar li {
    float: left;
    list-style: none;
    padding: 0% 5% 0% 0%;
    font-weight: 400;
    font-size: 120%;
    font-family: 'Alegreya', serif;
}

.clr {
    clear: both;
}


.ul-navbar a {
    color: #000;
    text-decoration: none;
}

.ul-navbar a:hover {
    color: rgba(185, 145, 92, 0.983);
}

/* -------------------Intro_section----------------------------------- */

.section-one {
    text-align: center;
}

.secone-text {
    font-family: 'Alegreya', serif;
    color: white;
    line-height: 100%;
    text-align: center;
    margin: auto;
    padding-top: 20%;
}

.section-one h2 {
    font-weight: lighter;
    font-size: 500%;

}

.paragraph1 {
    font-family: 'Alegreya', serif;
    line-height: 110%;
    font-weight: 400;
    font-size: 150%;
}

.paragraph2 {
    line-height: 110%;
    text-align: center;
    font-weight: 400;
    font-size: 146%;
    margin: auto;
    font-family: 'Alegreya', serif;
    width: 48%;
    margin-bottom: 3%;
}

.secone-btn {
    margin-bottom: 9%;
}

.Learn-btn {
    padding: 1.2% 1.7%;
    color: white;
    border: 2px solid #8e7754;
    background-color: #8e7754;
    font-size: 120%;
    font-weight: bolder;
    margin-right: 0.5%;

}



.Contact-btn {
    padding: 1.2% 1.7%;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-weight: bolder;
    font-size: 120%;
}




/* --------------------About_section----------------------------------- */


.about {
    margin-top: 5%;
}

.about-image {
    width: 48%;
    float: left;
}

.about-image img {
    width: 90%;
}

.about-section {
    width: 48%;
    margin-top: 3%;
    float: left;
}

.about-section h2 {
    font-family: 'Alegreya', serif;
    font-size: 200%;
    font-weight: 400;
    color: #303030;
}

.about-section p {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 17px;
    color: #686868;
    width: 90%;
    line-height: 170%;
}

.about-icons img {
    width: 7%;
    vertical-align: middle;
    border: 1px solid #8e7754;
    border-radius: 100%;
    background-color: white;
    margin-right: 1%;
}


/* --------------------Location_section----------------------------------- */

.location {
    margin-top: 5%;
    background-color: #F8F8F8;
    padding-top: 5%;
    padding-bottom: 4%;
}

.location-image {
    width: 40%;
    float: right;
}

.location-image img {
    width: 90%;
}

.location-section {
    width: 48%;
    margin-top: 3%;
    float: left;
}

.location-section h2 {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 200%;
    color: #303030;
}

.location-section p {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 17px;
    color: #686868;
    width: 90%;
    line-height: 170%;
}


/* --------------------Baking_section----------------------------------- */


.baking {
    margin-top: 5%;
    text-align: center;
    margin: auto;
    padding-top: 5%;
}

.baking-head {
    padding-bottom: 3%;
    text-align: center;
    font-family: 'Alegreya', serif;
    font-weight: lighter;
    font-size: 100%;
    color: #303030;
}

.baking-head h3 {
    color: #303030;
    font-weight: 400;
    font-size: 180%;
    text-align: center;
}

.baking-items h4 {
    color: #303030;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Alegreya', serif;
}

.baking-items img {
    width: 90%;
    text-align: center;

}

.baking-item1 {
    width: 33%;
    float: left;
}

.baking-item1 p {
    line-height: 220%;
    font-weight: 400;
    font-size: 17px;
    color: #686868;
}

.baking-item2 {
    width: 33%;
    float: left;
}

.baking-item2 p {
    line-height: 220%;
    font-weight: 400;
    font-size: 17px;
    color: #686868;
}

.baking-item3 {
    width: 33%;
    float: left;
}

.baking-item3 p {
    line-height: 220%;
    font-weight: 400;
    font-size: 17px;
    color: #686868;
}

.baking p {
    text-align: center;
    width: 90%;
    padding-left: 4%;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 17px;
    color: #686868;
}

/* --------------------Contact_section----------------------------------- */

.contact-info {
    margin-top: 5%;
    background-color: #F8F8F8;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0%;
}

.contactinfo-image {
    width: 40%;
    float: right;
}

.contactinfo-image img {
    width: 90%;

}

.contactinfo-section {
    width: 48%;
    margin-top: 1%;
    float: left;
}

.contactinfo-section h2 {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 32px;
    color: #303030;

}

.contactinfo-section p {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 17px;
    width: 90%;
    line-height: 170%;
    color: gray;
}

.contactinfo-section h4 {
    font-family: 'Alegreya', serif;
    font-weight: lighter;
    font-size: 100%;
    width: 90%;
    line-height: 170%;
    color: gray;
}

.contactinfo-icons {
    color: gray;
    float: left;
}

.contactinfo-icons img {
    width: 7%;
    vertical-align: middle;
    color: white;
    border: 0.1px solid white;
    border-radius: 100%;
    background-color: #8e7754;
    margin-right: 1%;
}

.contactinfo-image {
    width: 48%;
    float: right;
}


/* --------------------Details_section----------------------------------- */


.head-pragraph {
    margin: 0%;
    padding: 0%;
    background-color: #403D38;
    vertical-align: middle;
    padding: 4% 0%;

}

.head-pragraph p,
li {
    color: gray;
}

.head-pragraph h3 {
    color: white;
    font-family: 'Alegreya', serif;
    font-weight: lighter;
    font-size: 110%;
}

.head-pragraph1 {
    float: left;
    width: 25%;
    line-height: 180%;
}

.head-pragraph1 p {
    line-height: 180%;
    width: 92%;
    font-size: 100%;
    font-weight: lighter;
}

.head-pragraph2 {
    float: left;
    width: 25%;
}

.head-pragraph2 ul {
    width: 80%;
    padding-left: 0%;
}

.head-pragraph2-li li {
    list-style: none;
    line-height: 260%;
    border-bottom: 0.1px solid gray;

}

.head-pragraph2 li {
    list-style: none;
    line-height: 260%;
    margin-left: 0%;
    padding-left: 0%;
}

.head-pragraph3 {
    float: left;
    width: 25%;
}

.head-pragraph3 ul {
    padding-left: 0%;
}

.head-pragraph3 ul {
    width: 80%;
}

.head-pragraph3-li li {
    list-style: none;
    line-height: 260%;
    border-bottom: 0.1px solid gray;
}

.head-pragraph3 li {
    list-style: none;
    line-height: 260%;
    margin-left: 0%;
    padding-left: 0%;
}

.head-pragraph4-back::before {
    background: url('..//assets/contact-details-map.png') no-repeat center center;
    opacity: 0.11;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: '';
}

.head-pragraph4-back {
    position: relative;
}

.head-pragraph4 {
    float: left;
    width: 25%;
}

.head-pragraph4-back p {
    border-bottom: 1px solid gray;
}

.head-pragraph4 img {
    width: 10%;
    vertical-align: middle;
}

.head-pragraph-4 {
    margin-top: 10%;
    line-height: 150%;
}


/* --------------------Footer_section----------------------------------- */


.footer {
    background-color: #353330;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;

}

.footer-back p {
    margin-left: 2%;
    color: gray;
}

.footer-image {
    text-align: center;

}

.footer-image img {
    width: 4%;
}

.img1 {
    border: 0.1px solid transparent;
    border-radius: 100%;

}


.img2 {
    border: 0.1px solid transparent;
    border-radius: 100%;

}


.img3 {
    border: 0.1px solid transparent;
    border-radius: 100%;

}



.img4 {
    border: 0.1px solid transparent;
    border-radius: 100%;

}


.link {
    text-decoration: none;
}
